body {
  background-color: #e3f8ff;
}

nav {
  background-color: rgb(74, 120, 160);
}

.dropdown-menu {
  background-color: rgb(107, 166, 218);
}

.dropdown-item:hover {
  background-color: rgb(39, 95, 145);
}

hr {
  border: dotted #0b1010 6px;
  border-bottom: none;
  width: 5%;
  margin: 10px auto;
}

h1 {
  color: #66bfbf;
}
h3 {
  color: #f37878;
}

.Work,
.Work tr,
.Work td,
.Work th {
  border: 1px solid black;
}
